
.container {
  display: flex;
  height: 100vh;
  justify-content: left;
  align-items: center;
}

.floor {
  width: 120%;
  transform: translateY(40px);
  border-bottom: 1px solid black;
  position: absolute;
  z-index: 9;
  top: 70%;
  left: 0;

}

body {
  background-image: url('images/sky_4.png');
  position: relative;


}

